/* 
div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    
  }
  
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  
  mat-card {
    margin: 20px;
  }
  

  mat-card-header {
    background-color: rgb(104, 82, 184);
    color: white;
  }
   */

mat-card {
    margin: 20px;
  }
  
  mat-card-header {
    background-color: rgb(104, 82, 184);
    color: white;
  }
  

  mat-card-content {
    display: flex;
    flex-direction: column;
  }
  

  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  
  mat-label {
    font-size: 20px;
  }
  
 
  
 
  
  

