/* .mat-card-content.vertical-form {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    margin-bottom: 10px; 
  }
  
  .mat-card-actions {
    margin-top: 10px; 
  } */

  mat-card {
    margin: 20px;
  }
  
  mat-card-header {
    background-color: rgb(104, 82, 184);
    color: white;
  }
  

  mat-card-content {
    display: flex;
    flex-direction: column;
  }
  

  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  
  mat-label {
    font-size: 20px;
  }
  
 
