<mat-toolbar color="primary">
    <button class="menu" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Aplicativo</span>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav #sidenav [opened]="true" mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/pages/cliente/listar">
                <div class="item">
                  <span> Listar Clientes </span>
                </div>
              </a>
              <a mat-list-item routerLink="/pages/cliente/cadastrar">
                <div class="item">
                  <span> Cadastrar Cliente </span>
                </div>
              </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet> </router-outlet>
    </mat-sidenav-content>
 
</mat-sidenav-container>

